@{
    ViewData["Title"] = "Vista Previa de Tiquete";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container my-4">
        <h1>Puma Pardo</h1>
        <p><strong>Ruta:</strong> @ViewBag.Ruta</p>
        <p><strong>Horario:</strong> @ViewBag.Horario</p>
        <p><strong>Cantidad:</strong> @ViewBag.Cantidad</p>
        <p><strong>Total a Pagar:</strong> @ViewBag.PrecioTotal colones</p>

        <button class="btn btn-primary" onclick="window.print()">Imprimir</button>
    </div>
</body>
</html>
